<b style="font-size:15px;">{{ name }}</b
><br />
<b style="font-size:15px;">{{ author }}</b>

<div>
  <div style="margin-top: 30px">
    <b>Javascript Result/Output :</b><br />{{ result }}
  </div>
  <div style="margin-top: 30px">
    <b><i>Directives</i></b>
  </div>
  <div style="margin-top: 10px"><b>Capital Letters Directive :</b></div>
  <div style="margin-top:10px;">
    <input placeholder="" uppercase type="text" />
  </div>
  <div style="margin-top: 10px"><b>Lower Letters Directive :</b></div>
  <div style="margin-top:10px;">
    <input placeholder="" lowercase type="text" />
  </div>
</div>
