<b style="font-size:15px;"
  ><i>{{ name }}</i></b
><br />
<b style="font-size:15px;">{{ author }}</b>

<div>
  <div style="margin-top: 20px">
    <b>>> Javascript Result/Output </b><br />{{ result }}
  </div>
  <div style="margin-top: 30px">
    <b><i>- - Directives - -</i></b>
  </div>
  <div style="margin-top: 10px"><b>Capital Letters Directive</b></div>
  <div style="margin-top:5px;">
    <input placeholder="" uppercase type="text" />
  </div>
  <div style="margin-top: 10px"><b>Lower Letters Directive</b></div>
  <div style="margin-top:5px;">
    <input placeholder="" lowercase type="text" />
  </div>
  <div style="margin-top: 30px">
    <b><i>Prime Number / Odd / Even (Max 5 Length)</i></b>
  </div>
  <div style="margin-top:5px;">
    <input
      type="number"
      [(ngModel)]="enterednumber"
      (input)="checkValue()"
      onKeyPress="if(this.value.length==5) return false;"
    />
  </div>
  <div style="margin-top: 10px">
    <i [hidden]="checkIsPEO == ''">Result (Single) : {{ checkIsPEO }}</i>
  </div>
  <div style="margin-top: 10px">
    <i [hidden]="checkIsPEO_M == ''">Result (Multiple) :</i>
    <div [innerHTML]="checkIsPEO_M"></div>
  </div>
  <div style="margin-top: 20px">
    <b><i>Palindrome (Max 3 length)</i></b>
  </div>
  <div style="margin-top:5px;">
    <input
      type="text"
      [(ngModel)]="numberpalindrome"
      maxlength="3"
      (input)="checkPalindrome()"
    />
  </div>
  <div style="margin-top: 10px">
    <i>Entered is {{ checkIsPalindrome }} Palindrome</i>
  </div>
</div>
