<b style="font-size:15px;"
  ><i>{{ name }}</i></b
><br />
<b style="font-size:15px;">{{ author }}</b>

<div>
  <div style="margin-top: 30px">
    <b>Javascript Result/Output :</b><br />{{ result }}
  </div>
  <div style="margin-top: 30px">
    <b><i>Directives</i></b>
  </div>
  <div style="margin-top: 10px"><b>Capital Letters Directive :</b></div>
  <div style="margin-top:10px;">
    <input placeholder="" uppercase type="text" />
  </div>
  <div style="margin-top: 10px"><b>Lower Letters Directive :</b></div>
  <div style="margin-top:10px;">
    <input placeholder="" lowercase type="text" />
  </div>
  <div style="margin-top: 30px">
    <b><i>Prime Number / Odd / Even</i></b>
  </div>
  <div style="margin-top:10px;">
    <input
      placeholder="Enter a number"
      type="number"
      [(ngModel)]="enterednumber"
      (input)="checkValue()"
    />
  </div>
  <div style="margin-top: 10px">
    <i [hidden]="checkIsPEO == ''">Result : {{ checkIsPEO }}</i>
  </div>
  <div style="margin-top: 30px">
    <b><i>Palindrome (Max 3 length)</i></b>
  </div>
  <div style="margin-top:10px;">
    <input
      placeholder="Enter a number"
      type="text"
      [(ngModel)]="numberpalindrome"
      maxlength="3"
      (input)="checkPalindrome()"
    />
  </div>
  <div style="margin-top: 10px">
    <i>Entered number is {{ checkIsPalindrome }} Palindrome</i>
  </div>
</div>
